.login {
    display: flex;
    justify-content: flex-end; /* Aligns login form to the right */
    align-items: center;
    margin: 5% 5%;
}

.login .loginImg {
    width: 40%;
    box-sizing: border-box;
}

.login .loginImg img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.login .loginForm {
    box-sizing: border-box;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    margin-left: 15%;
}

.login .loginForm h5 {
    color: black;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: left;
}

.login input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    width: 100%; /* Ensure input fields are 100% of the form width */
    padding: 14px;
    margin-bottom: 10px;
}

.login button {
    background-color: #db4444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Ensure button is 100% of the form width */
}

.login button:hover {
    background-color: #e07575;
}

@media only screen and (max-width: 768px) {
    .login {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .login .loginImg {
        width: 80%;
        margin: 24px 0;
    }

    .login .loginForm {
        width: 80%;
        margin: 0;
    }
}
